.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: $blue-color;

    &__text_header {
        margin-left: 17px;
    }

    &__text_footer {
        margin-left: 19px;
    }
}

.btn {
    border: none;
    height: 50px;
    text-align: center;
    text-transform: uppercase;

    &__blue {
        background-color: $blue-color;
        box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
        color: $white-color;
        text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
    }

    &__white {
        background-color: $white-color;
        box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.4);
        color: $blue-color;
    }   
}
.navigation__item {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $navigation-text-color;
    text-decoration: none;

}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}