// Common colors
$blue-color: rgb(25, 104, 252); // #1968FC
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);

// Text colors
$primary-text-color: rgb(17, 34, 63); // #11223F
$secondary-text-color: rgb(25, 103, 250); // #1967FA
$review-text-color: rgba(25, 103, 250, .8); // #1967FA
$navigation-text-color: $black-color;
$consultation-text-color: $white-color;
$story-card-title-color: rgb(17, 17, 17);

// Section backgrounds
$primary-background: rgb(242, 242, 242);
$consultation-section-background: $blue-color;
$footer-section-background: rgb(251, 251, 251);


